.section-about {
  background-color: color(grey-light-1);
  padding-top: calc(2vw + 25rem);
  padding-bottom: calc(12vw + 10rem);
  margin-top: calc(-2vw - 20rem);
}

.section-features {
  padding-top: calc(8vw + 6rem);
  padding-bottom: calc(8vw + 6rem);
  margin-top: calc(5vw - 16rem);
  background-image: linear-gradient(
      to right bottom,
      rgba(color(primary-light), 0.8),
      rgba(color(primary-dark), 0.8)
    ),
    url("../img/nat-4.jpg");
  background-position: top;
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
  @include respond(tablet-portrait) {
    padding-bottom: calc(8vw);
  }
}

.section-tours {
  background-color: color(grey-light-1);
  padding-top: calc(16vw + 4rem);
  padding-bottom: calc(8vw + 6rem);
  margin-top: calc(-8vw - 1rem);
}

.section-stories {
  padding: 15rem 0;
  position: relative;

  @include respond(tablet-portrait) {
    padding: 10rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(
    to right bottom,
    color(primary-light),
    color(primary-dark)
  );

  @include respond(tablet-portrait) {
    padding: 10rem 0;
  }
}

.book {
  background-image: linear-gradient(
      105deg,
      rgba(color(white), 0.9) 0%,
      rgba(color(white), 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  background-size: 100%;
  box-shadow: 0 1.5rem 4rem rgba(color(black), 0.22);
  backface-visibility: hidden;

  @include respond(tablet-landscape) {
    background-image: linear-gradient(
        105deg,
        rgba(color(white), 0.9) 0%,
        rgba(color(white), 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }

  @include respond(tablet-portrait) {
    background-image: linear-gradient(
        to right,
        rgba(color(white), 0.9) 0%,
        rgba(color(white), 0.9) 100%
      ),
      url(../img/nat-10.jpg);
    background-size: cover;
  }
  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tablet-landscape) {
      width: 65%;
    }

    @include respond(tablet-portrait) {
      width: 100%;
    }
  }
}
